<% @user ||= current_user %>
  <span class="image"><%= image_tag @user.avatar.url if @user.avatar? %></span>
  <div class="stats">
    <h1><%= @user.name %></h1>
    <span class="profile"><%= link_to "view my profile", @user %></span>
    <span><%= pluralize(@user.microposts.count, "post") %></span>
    <div class="follow">
      <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong>
        following
      </a>
      <a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </a>
  </div>
</div>