<% provide(:title, @micropost.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <%= render 'shared/user_info' %>
    </section>
    <%= render partial: 'shared/comments' %>
  </aside>
<div class="col-md-8">
    <div class="show_image">
      <%= image_tag @micropost.picture.url if @micropost.picture? %>
    </div>
    <div class="show_title"><%= @micropost.title %></div>
    <div class="show_content">
      <%= @micropost.content %>
    </div>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
      <% if current_user?(@micropost.user) %>
        <%= link_to "edit", edit_micropost_path(@micropost) %>
        <%= link_to "delete", @micropost, method: :delete,
                                         data: { confirm: "You sure?" } %>
      <% end %>
    </span>
    <section class="new_comment">
    <%= render partial: 'shared/comment_form' %> 
    </section>
</div>