<!--
This page displays specific microposts. If you're looking for the html that governs how microposts are displayed in the feed, head to microposts/_micropost.html.erb. User info and comments are displayed in the lefthand column, which is 1/3 of the width of the page. The micropost, related info, any accompanying images, and a comment form are displayed in the righthand column which is 2/3rds of the width. Of course, more info on each partial can be found at the corresponding file.
-->
<% provide(:title, @micropost.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <%= render 'shared/user_info' %>
    </section>
    <%= render partial: 'shared/comments' %>
  </aside>
<div class="col-md-8">
    <div class="show_image">
      <%= image_tag @micropost.picture.url if @micropost.picture? %>
    </div>
    <div class="show_title"><%= @micropost.title %></div>
    <div class="show_content">
      <%= @micropost.content %>
    </div>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
      <% if current_user?(@micropost.user) %>
        <%= link_to "edit", edit_micropost_path(@micropost) %>
        <%= link_to "delete", @micropost, method: :delete,
                                         data: { confirm: "You sure?" } %>
      <% end %>
    </span>
    <section class="new_comment">
    <%= render partial: 'shared/comment_form' %> 
    </section>
</div>